.navBar {
  position: relative;
  display: flex;
  height: 100%;
  /* padding: 2rem 0.75rem; */
}

.left {
  background-color: chartreuse;
  z-index: 1000;
  width: 245px;
   padding: 2rem 0.75rem;
  border-right: 1px solid var(--color-border);
}

.subMenu {
  background-color: rgb(147, 192, 101);
  height: 100%;
  max-width: 400px;
  position: relative;
  left: 245px;
}

.logo {
  font-size: 1.75rem;
  padding: 1.75rem 1rem;
}

.temp {
  z-index: 700;
  position: relative;
  left: 246px;
  width: fit-content;
  /* right: 400px; */
  background-color: aliceblue;
}
