.upload {
  position: relative;
  height: 100%;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
}
.modal:hover {
  background-color: var(--color-background-modal);
}

.preview{
    max-width: 100%;
}

.icon {
  z-index: 100;
  width: 6rem;
  height: 6rem;
}
.input {
  position: absolute;
  z-index: 200;
  color: transparent;
  font-size: 0;
  height: 100%;
  width: 100%;
}
.input::file-selector-button {
  border: none;
  background-color: transparent;
}
