.editProfile {
  height: 100%;
  padding-block: 2.5rem;
  padding-inline: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
}

.header {
  padding: 1rem;
  border-radius: 1.25em;
  background-color: var(--color-background-primary);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.avatarWrapper {
  width: 3.5rem;
  height: 3.5rem;
}
.avatar {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.username {
  font-weight: 700;
}
.about {
  font-size: 0.8rem;
  color: var(--color-text-secondary);
}
.fileInput {
  display: none;
}
.fileInputLabel {
  padding: 0.5rem 2rem;
  background-color: var(--color-background-button-primary);
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
 min-width: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.fieldTitle {
  font-weight: 700;
}
.textInput {
  font-size: 1rem;
  width: 100%;
  outline: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid var(--color-border);
}
.textarea {
  outline: none;
  height: 10rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid var(--color-border);
}
.btnSave {
  margin-top: 4rem;
  padding: 0.5rem 6rem;
  border-radius: 0.5rem;
  width: fit-content;
  font-size: 0.8rem;
  font-weight: 600;
}
