html {
  /* height: 100vh;
  border: 0; */
}

body {
  font-family: "Roboto", sans-serif;
  /* border: 0; */
  /* height: 100vh; */
}

* {
  box-sizing: border-box;
  /* box-sizing: content-box; */
}

#root {
}
