:root {
  --color-text-primary: #000;
  --color-text-light: #fff;
  --color-text-secondary: #737373;
  --color-link-primary: #0095F6;
  --color-link-secondary: #00376B;
  --color-text-delete: #ED4956;
  --color-text-error: #FF0014;
  --color-placeholder: #737373;
  --color-background-input-primary: #EFEFEF;
  --color-background-input-secondary: #FAFAFA;
  --color-background-button-primary: #0095F6;
  --color-background-button-secondary: #EFEFEF;

  
}
