.loadingErrorOutput {
  text-align: center;
}

.error {
  padding: 1rem;
  color: var(--color-text-error);
}

.loading {
  padding: 1rem;
  color: var(--color-text-loading);
}

.info {
  padding: 1rem;
  color: var(--color-text-info);
  font-weight: 600;
  text-decoration: underline;
}